/* RegistrationForm.scss */
$primaryColor: #8884d8;

.registration-form {
  max-width: 100%;
  margin: 0 auto;
  background-color: #efeef7;
  padding: 4rem 3rem;
  border-radius: 15px;
}

.registration-form-item {
  margin-bottom: 16px;
  & label.Mui-focused {
    color: $primaryColor;
  }

  & .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: $primaryColor;
  }
}

.registration-form-button {
  width: 100%;

  background-color: $primaryColor;

  &:hover {
    background-color: #a5a2e0;
  }
}
