/* RegistrationForm.scss */

.registration-form {
  max-width: 100%;
  margin: 0 auto;
  background-color: #efeef7;
  padding: 4rem 3rem;
  border-radius: 15px;
}

.registration-form-item {
  margin-bottom: 16px;
}

.registration-form-button {
  width: 100%;
}
